.search{
  .search__error-msg{
    color: red;
  }
  .search__input--spinner{
    background-color: #ffffff;
    background-image: url("http://loadinggif.com/images/image-selection/3.gif");
    background-size: 25px 25px;
    background-position:right center;
  }
}
