<form action="#" class="form-container" name="input-form">
  <fieldset class="form-group">
    <label for="paragraph-input">Find your list of words</label>
    <textarea placeholder="Enter your text here." class="form-control form-group" id="paragraph-input"></textarea>
    <input type="submit" class="btn btn-primary btn-lg btn-block btn-submit" value="Output" name="inputBtn"/>
    <button class="btn btn-danger btn-lg btn-block btn-rst" name="btn-rst">Reset</button>
  </fieldset>
</form>
