<!DOCTYPE html>
<html>
<head>
<title>Welcome to your text app</title>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" media="all" />
<link rel="stylesheet" type="text/css" href="/css/core.css" media="all" />
</head>
<body>

<main class="container-fluid">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
				<h1>{{title}}</h2>
				<section class="input-text">{{>form}}</section>
				<section class="output">{{>table}}</section>
				<p class="error"></p>
		</div>
	</div>
</main>
<script type="text/javascript" src="/js/main.js"></script>
</body>
</html>
